.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(135, 216, 246);
}

.box {
  width: 10em;
  height: 10em;
  margin-right: 2em;
  border: 1px solid #000;
  border-radius: .5em;
  background-color: transparent;
}